<footer class="site-footer">

  <div class="container">
      <div class="footer-col footer-col-1">
        <ul class="links-social">
          <li>
            Lambdaspace:
            <ul>
              <li><a href="https://twitter.com/lambdaspace" data-link-type="footer" data-link-name="Twitter">Twitter</a></li>
              <li><a href="https://www.facebook.com/lambdaspace" data-link-type="footer" data-link-name="Facebook">Facebook</a></li>
            </ul>
          </li>
        </ul>

      </div>

  </div>

</footer>
